body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: navy;
    color: gold;
    padding: 10px;
    text-align: center;
    border-color: navy;
    border-style: solid;
    border-width: 5px;
}
nav {
    background-color: rgb(243, 231, 234);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
nav a {
    color: navy;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#login-form {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#login-form label {
    font-weight: normal;
}